<!DOCTYPE html>
<html>

<head>
{% include "stage/common.html" %}

<script>
function loadDoc() {
  
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("log").innerHTML = xhttp.responseText;
    }
  };
  xhttp.open("GET", "{% url 'stage:images_logs' status.id %}", true);
  xhttp.send();
}

window.onload = function() {
  loadDoc();
}
</script>
</head>

<body>
<h1>Staging Images - {{ status.id }}</h1>

{% if error_msg %}
  {{ error_msg }}
  <ul>
  <form action="{% url 'stage:workflow' status.id %}" method="get">
  <input type="submit" value="workflow">
  </ul>

{% else %}

  {% if msg %}
  <ul>{{ msg }}</ul>
  {% endif %}

<h2>Staging status</h2>
<ul>
  <div id="log">
  </div>
<p/>
<button type="button" onclick="loadDoc()">Refresh</button>
</ul>

{% endif %}

{% include "stage/footer_workflow.html" %}
</body>
</html>
