<h1>Workflow - {{ status.id }}</h1>
<ul>
  <form action="{% url 'stage:csv' status.id %}" method="post">
{% csrf_token %}
<input type="submit" value="Stage CSV">
{{ csv_form }}
</form>
</ul>
<ul>
  <form action="{% url 'stage:images' status.id %}" method="post">
{% csrf_token %}
<input type="submit" value="Stage Images">
</form>
</ul>
<ul>
  <form action="{% url 'stage:derivatives' status.id %}" method="post">
{% csrf_token %}
<input type="submit" value="Generate Derivatives">
</form>
</ul>

{% include "stage/footer.html" %}

